<html>

<head>
<link rel="stylesheet" type="text/css" href="/resources/profilepage.css">
</head>
<body>
<div class="container">
  <form id="contact" action="" method="post">
    <h3>Edit Your Profile</h3>
    <fieldset>
      <input placeholder="Your Name" name="name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <fieldset>
        <input placeholder="Your Age" type="text" tabindex="3" required>
      </fieldset>
      <input placeholder="Your Location" type="text" tabindex="4" required>
    </fieldset>
    <fieldset class="center">
      <input placeholder="Profile Picture (optional, but URL is required)" type="url" tabindex="5" optional>
      <a href="/profile"><button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button></a>
    </fieldset>

  </form>
</div>
</body>
</html>
